
@font-face {
  font-family: 'MarkOT-Bold';
  src: url('MarkOT-Bold.eot?#iefix') format('embedded-opentype'),  url('MarkOT-Bold.woff') format('woff'), url('MarkOT-Bold.ttf')  format('truetype'), url('MarkOT-Bold.svg#MarkOT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
