$color-purple:#793df5;
$color-clarpurple:#a680f4;
$color-grey:#838383;
$color-darkgrey: #6c6c70;
$color-white:#ffffff;
$color-orange:#ff9100;
$color-lightorange: #f4a845;


$color-primary: $color-purple;
$color-clarprimary:$color-clarpurple;
$color-secundary: $color-grey;
$color-tertiary: $color-white;
$color-darksecundary: $color-darkgrey;
$color-quartenary:$color-orange;
$color-ligquartenary:$color-lightorange;


//size
$font-size-title: 40px;
$font-size-text: 16px;
$font-size-card: 22px;
$font-size-link: 13px;